<header id="app-header">
    <h1>EXPERIAN WEATHER LOGO</h1>
    <form [formGroup]="weatherForm" (submit)="onSubmit($event)">
        <input type="text" formControlName="city" placeholder="City">
        <input type="text" formControlName="country" placeholder="Country">

        <input type="submit" value="Get local time, weather and temperature"
            [disabled]="weatherForm.invalid || (loading$ | async)">

        <!-- TODO: loading spinner -->

        <!-- TODO: validation errors -->
    </form>
</header>