<header id="app-header">
    <div class="app-title">
        <h2>Get local time, weather and temperature</h2>
        <!-- TODO: make it's own component -->
        <form id="frm-unit-switch" [formGroup]="tempUnitForm" (submit)="$event.preventDefault()">
            <h3>°C</h3>
            <label class="toggle-switch">
                <input type="checkbox" formControlName="unitSwitch" (change)="tempUnitChange($event)">
                <div class="slider"></div>
            </label>
            <h3>°F</h3>
        </form>
    </div>
    <form id="frm-weather" [formGroup]="weatherForm" (submit)="onSubmit($event)">
        <input #cityInput type="search" formControlName="city" placeholder="City" autofocus>
        <input type="search" formControlName="country" placeholder="Country">

        <input type="submit" value="Get" [disabled]="weatherForm.invalid || (loading$ | async)">

        <!-- TODO: loading spinner -->

        <!-- TODO: validation errors -->
    </form>
</header>